**.env**
**/node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

/ejercicios_mintic2022/ciclo 02/programas/Persona/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/Persona/build/
/ejercicios_mintic2022/ciclo 02/programas/Pscanner/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/Pscanner/build/
/ejercicios_mintic2022/ciclo 02/programas/pjoptionpane/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/menu/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/menu/build/
/ejercicios_mintic2022/ciclo 02/programas/pjoptionpane/build/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto/build/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto2/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto2/build/
/ejercicios_mintic2022/ciclo 02/programas/HolaMundo/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto3/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto3/build/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto4/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto4/build/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto5/nbproject/private/
/ejercicios_mintic2022/ciclo 02/programas/AlquilerAuto5/build/
ejercicios_go/.idea/
